@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

html {
    font-family: sans-serif;
}

input {
    height: 30px;
    border-radius: 6px;
    border: 1px solid #ddd;

}
input:focus {
    outline: none;
}
button {
    height: 30px;
    border-radius: 4px;
    border: none;
    padding: 0 20px 0 20px;
    margin-left: 20px;
    transition: transform .8s;
}
button:focus {
    outline: none;
    transform: scale(0.8);
}
.container {
    margin-left: 100px;
    margin-top: 50px;
}
.lists {
    border: 1px solid #eee;
    max-width: 500px;
    margin-left: -40px;
    padding-top: 10px;
    padding-bottom: 10px; 
}